<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServicePort" value="8080" />
    <!-- 文字动画效果的速度 0(最快) 20(最慢) -->
    <add key="FrameTime" value="20" />
    <!-- 文字动画效果的速度 -->
    <add key="AnimationSpeed" value="5" />
    <!--上下滚屏时，文字的持续显示时间-->
    <add key="HoldTime" value="5"/>
  </appSettings>
</configuration>