<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="营业部"/>
    <add key="ServiceUrl" value="tcp://localhost:8080/LEDService"/>
  </appSettings>
  <connectionStrings>
    <add name="DbConnection" connectionString="data.db;" />
  </connectionStrings>
</configuration>